<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FCC Voting application</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/polls/create">Create</a></li>
      <li><a href="/polls/all">My polls</a></li>
      <li><a href="/users/profile">Profile</a></li>
    </ul>
  </div>
</nav>
